* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color:  #D1EEEC;
     /* #337F80; */
}

header{
    text-align: center;
    background-color: teal;
    padding: 10px;
    font-size: 50px;
    color: white;
}

.container{
    margin-top: 50px;
}

img {
    max-width: 100%;
    height: auto;
    float: left;
    width:  500px;
    height: 500px;
    object-fit: cover;
    margin-left: 95px;
    margin-top: 30px;
}

.moutains {
    margin-right: 60px;
}

p{
    text-align: center;
    font-size: 25px;
    color: teal;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

form {
    padding: 50px;
}

input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
}

#tasks {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

#weatherforecast {
    float: left;
}

#eats {
    float: left;
}

.tilecolor {
    background-color: teal;
    color: white;
}

.cardone {
    margin-right: 0;
    padding: 20px;
    margin-left: 10px;
    float: left;
    width: 190px;
    font-size: 13px;
}

.cardtwo {
    padding: 20px;
    margin: 10px;
    float: left;
    width: 190px;
    font-size: 13px;
}

.cardthree {
    padding: 20px;
    margin: 10px;
    float: left;
    width: 190px;
    font-size: 13px;
}

.cardfour {
    padding: 20px;
    margin: 10px;
    float: left;
    width: 190px;
    font-size: 13px;
}

.cardfive {
    padding: 20px;
    margin: 10px;
    float: left;
    width: 190px;
    font-size: 13px;
}
/* #mountainTheme {
*/
p{
    text-align: center;
    font-size: 25px;
} 

.bg-modal2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

/* #beachTheme {
    
} */
.modal-content2 {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.form2 {
    padding: 50px;
}

.close2 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
}
